# Base de données
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# SMTP (PHPMailer)
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_ENCRYPTION=ssl
SMTP_FROM=
SMTP_FROM_NAME=Linkretz

# URL de base
APP_URL=
